@using CertainDeathEngine.Models.User
@model Dictionary<Score, MyAppUser>

@{
    ViewBag.Title = "LeaderBoard";
}
@Styles.Render("~/Content/css")

<div id="content">
    <h2>LeaderBoard</h2>

    <section class="leaders">

        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>World</th>
                    <th>Date Saved</th>
                    <th>Kills</th>
                    <th>Buildings</th>
                    <th>Time Survived</th>
                    <th>Resources Collected</th>
                </tr>

            </thead>
            <tbody>
                @if (Model != null) { 
                    foreach (Score score in Model.Keys)
                    {
                        if (score != null) 
                        { 
                            long millis = score.Survived;
                            double secs = millis / 1000;
                            int minutes = (int)(secs / 60);
                            secs -= minutes * 60;
                            int hours = (int)(minutes / 60);
                            minutes -= hours * 60;

                            DateTime saveDate = new DateTime(score.SaveDate);
                            <tr>
                                <td>@score.Id</td>
                                <td>@score.WorldId</td>
                                <td>@saveDate</td>
                                <td>@score.Kills</td>
                                <td>@score.Buildings</td>
                                <td>@hours:@minutes:@secs</td>
                                <td>@score.TotalResources</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </section>
</div>